@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@400;600;800&display=swap");
@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Bold-Trial.otf") format("opentype");
}

:root {
  --main-color: #5454d4;
  --text-color: #bababb;
  --bg-color: #19191b;

  --main-font: "Nunito Sans", sans-serif;
  --logo-font: "Montserrat", sans-serif;
  --header-font: "Graphik";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

section {
  margin-top: 150px;
}

/* style untuk logo*/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
}

.logo img {
  margin-right: 8px;
}

.logo span {
  font-size: 28px;
  font-family: var(--logo-font);
  color: #ffff;
}

/*style untuk button*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  min-width: 157px;
  color: #ffff;
  border: 1px solid #ffff;
  border-radius: 5px;
}

.button-hero {
  margin-top: 50px;
  width: 204px;
  height: 58px;
  background-color: var(--main-color);
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.button:hover {
  background-color: var(--main-color);
  border: none;
  filter: drop-shadow(0px 1px 3px #5454d4);
}

/* style untuk navbar */
.navbar .nav-wrapper {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-top: 40px;
}

.menu-wrapper .menu {
  display: flex;

  gap: 40px;
  align-items: center;
}

.menu a {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}

.menu :hover {
  color: var(--main-color);
}
.menu .active {
  color: var(--main-color);
  font-weight: 600;
}

/* style untuk hero */
.hero .hero-wrapper {
  height: 712.88px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* gap: 48px; */
  align-items: center;
}

.hero-wrapper .content-left {
  max-width: 582px;
}

.hero .hero-wrapper .content-left h1 {
  font-family: var(--header-font);
  font-style: normal;
  height: 252px;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  color: #ffff;
}
.hero-wrapper .content-left p {
  font-size: 21px;
  line-height: 39px;
  margin-top: 23px;
  letter-spacing: -0.66 px;
}

.hero-wrapper .content-right {
  position: relative;
}

.hero-wrapper .content-right .hero-img-back {
  position: relative;
  left: -6%;
}
.hero-wrapper .content-right .hero-img {
  position: absolute;
  right: 0;
  top: -15%;
}
.hero-wrapper .content-right .hero-img-zigzag {
  position: absolute;
  left: -30%;
  top: 0%;
}
.hero-wrapper .content-right .hero-img-circle {
  position: absolute;
  right: 0;
  top: -15%;
}
.hero-wrapper .content-right .hero-img-triangle {
  position: absolute;
  bottom: -15%;
  left: -40%;
}
.hero-wrapper .content-right .hero-img-add {
  position: absolute;
  bottom: -10%;
  right: 0;
}

.shape {
  position: absolute;
}

.hero-wrapper .shape {
  z-index: -10;
  position: absolute;
  top: -500px;
  left: -500px;
}

.hero-wrapper .shape .shape-1 {
  z-index: -10;
  position: absolute;
  top: -100px;
  left: -100px;
}
.hero-wrapper .shape .shape-2 {
  z-index: -10;
  position: absolute;
  top: 300px;
  left: 300px;
}

.video-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.video-heading {
  display: flex;
  gap: 24px;
  width: 100%;
}

.video-heading p {
  width: 100%;
  font-size: 21px;
  letter-spacing: -0.66 px;
}

.video-heading h2 {
  width: 100%;
  font-family: var(--header-font);
  color: #ffff;
  font-size: 60px;
  line-height: 70px;
}

.video-wrapper iframe {
  width: 100%;
  height: 670px;
  border: none;
}

.services .services-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.services .services-wrapper h2 {
  font-family: var(--header-font);
  text-align: center;
  margin: auto;
  font-size: 60px;
  color: #ffff;
  max-width: 695px;
  margin-bottom: 30px;
}

.services-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.services-list-item {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.services-list-item .item-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  width: 299px;
  height: 203px;
}

.item-wrapper img {
  margin: auto;
  width: 69px;
}
.item-wrapper h3 {
  font-size: 28px;
  color: #ffff;
}
.item-wrapper p {
  font-size: 20px;
  letter-spacing: -0.5px;
}
